#Cooper ily lol i needed a good example lol
#noshame
#Zacks a furry too

done = 'Done!'
class start():
    def begin():
        name = input('Hello what is your name? ')
        print(' ')
        faggot = input('Cooper is a furry dont you agree %s ' % name)
        if faggot == 'yes':
            print(' ')
            print('Correct, indeed he is')
            start.yay()
        elif faggot == 'Yes':
            print(' ')
            print('Correct, indeed he is')
            start.yay()
        elif faggot == 'No':
            print(' ')
            print('You are a furry too faggot')
            start.gay()
        elif faggot == 'no':
            print(' ')
            print('You are a furry too faggot')
            start.gay()
        else:
            start.begin()
    def yay():
        print('Lol im just practicing coding')
    def gay():
        print('You suck yah fox loving gay boi')

start.begin()
print(' ')
print(done)
